body{
	background-image: url("images/tlo.png"); /*from http://subtlepatterns.com*/
	background-size: 100% 100%;
}
html,body {
	height: 100%;
	width: 100%;
}
.navbar{
	//background-color: #FF0000;

}

.logo{
	
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-height: 400px;
}

.content_box{
	margin-top: 20px;
	background-color: white;

}
.info_box{
	background-color: #E6E6E6;
	margin:5px 0px 10px 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}